[Desktop Entry]
Name=Basement Left Terminal
Comment=Gnome Terminal, Normal style, on bottom left of rightmost (3 of 3) monitor
Comment=Use the command line
Keywords=basementleft
TryExec=gnome-terminal
Exec=coding basementleft
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
