[Desktop Entry]
Name=Basement Right Terminal
Comment=Gnome Terminal, Normal style, on bottom right of rightmost (3 of 3) monitor
Comment=Use the command line
Keywords=basementright
TryExec=gnome-terminal
Exec=coding basementright
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
