[Desktop Entry]
Name=Place Core Set of Windows
Comment=Use the command line [maxdesktop]
Keywords=shell;prompt;command;commandline;place
TryExec=gnome-terminal
Exec=/usr/local/bin/position
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
