[Desktop Entry]
Name=studywin
Comment=Position specific windows for AWS study work
Keywords=studywin
TryExec=gnome-terminal
Exec=/usr/local/bin/position cloudstudy
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
