[Desktop Entry]
Name=Wall monitor Left Terminal
Comment=Gnome Terminal, Normal style, on bottom left of rightmost (3 of 3) monitor
Comment=Use the command line
Keywords=wallone
TryExec=gnome-terminal
Exec=coding wallone
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
